*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    height: 100vh;
    display: grid;
    grid-template-rows: 5vh 1fr 5vh;
}

header, main, footer{
    border: 1px solid black;
}
.posicionando-item-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    column-gap: 10px;
}

main > * {
    border: 1px solid black;
}
