*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));   
    gap: 10px;
    margin: 10px;
    justify-items: center;
}

.imagens{
    border: 1px solid green;
    text-align: center;
    width: 150px;       
}